<p id="notice"><%= notice %></p>

<p>
  <strong>File url:</strong>
  <%= @purchase.file_url %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @purchase.comments %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
