<!DOCTYPE html>
<html>
<head>
  <title>Prototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if flash[:error] %>
    <div id="error">
      <%= flash[:error] %>
    </div>
<% end %>
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Photocopy Shop WebSite" %>
</div>

<div id="columns">

  <div id="side">
    <p><% if user_signed_in? %>
        Welcome <%= current_user.email %>! Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or
        <%= link_to "Sign in", new_user_session_path %>.
    <% end %></p>
    <ul>
    <li><a href="http://www....">Home</a></li>
    <li><a href="http://www..../faq">Questions</a></li>
    <li><a href="http://www..../news">News</a></li>
    <li><a href="http://www..../contact">Contact</a></li>
  </ul> </div>
  <div id="main"> <%= yield %>
  </div>
</div>

</body>
</html>
